* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  background-color: #000;
  color: #fff;
  width: 100%;
  overflow-x: hidden;
}

.nav-section {
  background-color: #8b0000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

.movie-logo {
  background-color: #000;
  padding: 2px;
  border-radius: 8px;
}

.movie-logo:hover {
  padding: 2px;
  transition-duration: 2s;
  cursor: pointer;
}

.nav-section a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
}

.list-group-nav {
  display: flex;
  gap: 24px;
  margin-right: 12%;
  list-style-type: none;
  text-decoration: none;
}

.list-group-nav li a {
  text-decoration: none;
}

.list-items1 {
  font-size: 14px;
  font-weight: 200;
}

.watchlist {
  width: 100%;
}

.card-image1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 200;
  width: 80%;
  background-color: #000;
}

.card-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100vh;
}

.show-image {
  position: absolute;
  top: 2%;
  left: 0;
  z-index: -1;
  width: 80%;
  height: 80%;
}

.mobile-display {
  margin: auto;
}

.fa-heart,
.comments {
  cursor: pointer;
}

.comments {
  background-color: #8b0000;
  color: #fff;
  text-align: center;
  width: 80%;
  padding: 10px;
}

.close-button {
  margin-top: 0;
  text-align: end;
  width: 100%;
  cursor: pointer;
  font-size: 2.25rem;
  font-weight: bold;
}

.image-header {
  margin: auto;
}

.image-header img {
  object-fit: cover;
  width: 100%;
  height: 80vh;
}

.series-details {
  display: none;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  background-color: #8b0000;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  opacity: 0.9;
}

.series-details h4 {
  font-size: 20px;
}

.series-details p {
  padding: 0 3% 0 3%;
}

.series-attributes {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px solid #8b0000;
  border-radius: 10px;
  padding: 12px;
  margin: 3% 10% 2% 10%;
}

.comment-popup {
  position: fixed;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #8b0000;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  padding: 12px;
  background-color: #fff;
  color: #000;
  margin-top: 19%;
}

.popup-headers {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4%;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.user-name {
  width: 210px;
  background: none;
  height: 40px;
  padding: 20px;
  border-radius: 8px;
}

.user-comment {
  width: 210px;
  height: 80px;
  background: none;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}

.comment-box {
  background-color: #8b0000;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.series-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8b0000;
  color: #fff;
  font-style: oblique;
  width: 100%;
  height: 67px;
}

.series-footer p {
  margin-left: 24px;
}

.logo {
  background-image: url('./images/c-s.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50px;
  height: 50px;
}

.comment-placeholder {
  margin: auto;
  gap: 16px;
  width: 400px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 2%;
}

.comment-placeholder p {
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.comments-holder {
  list-style-type: none;
=======
@media screen and (min-width: 768px) {
  .nav-section {
    background-color: #8b0000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
  }

  .movie-logo {
    margin-left: 67px;
    border: 1px solid #fff;
    background-color: #000;
    padding: 16px;
    border-radius: 8px;
  }

  .movie-logo:hover {
    padding: 12px;
    transition-duration: 2s;
    cursor: pointer;
  }

  .nav-section a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }

  .list-group-nav {
    display: flex;
    gap: 24px;
    margin-right: 12%;
    list-style-type: none;
    text-decoration: none;
  }

  .list-items1 {
    font-size: 18px;
    font-weight: 600;
  }

  .card-image1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 15px;
    margin-left: 0;
  }

  .card-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 400px;
  }

  .show-image {
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .title {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 200;
    width: 100%;
  }

  .fa-heart,
  .comments {
    cursor: pointer;
  }

  .comments {
    background-color: #8b0000;
    color: #fff;
    border: 2px solid #000;
    text-align: center;
    width: 100%;
    padding: 10px;
  }

  .image-header img {
    object-fit: cover;
    margin: auto;
  }

  .series-details {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8b0000;
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    opacity: 0.9;
  }

  .series-details h4 {
    font-size: 20px;
  }

  .series-details p {
    padding: 0 3% 0 3%;
  }

  .series-attributes {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 1px solid #8b0000;
    border-radius: 10px;
    padding: 12px;
    margin: 3% 10% 2% 10%;
  }

  .popup-headers {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4%;
  }

  .comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .user-name {
    width: 210px;
    background: none;
    height: 40px;
    padding: 20px;
    border-radius: 8px;
  }

  .user-comment {
    width: 210px;
    height: 80px;
    background: none;
    padding: 20px;
    border-radius: 8px;
    outline: none;
  }

  .comment-box {
    background-color: #8b0000;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
  }

  .series-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8b0000;
    color: #fff;
    font-style: oblique;
    width: 100%;
    height: 67px;
  }

  .series-footer p {
    margin-left: 24px;
  }

  .logo {
    background-image: url('./images/c-s.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
  }
}
